.panel{
    width: 100%;
    height: 100%;

    padding: 10px;
    
}

.shadow{
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.border-right{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.flexlist{
    display: flex;
    flex-direction: column;
}

.flexrow{
    display: flex;
    flex-direction: row;
}

.spacebetween{
    justify-content: space-between;
}

.aligncenter{
    align-items: center;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerpanel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftoffset {
    margin-left: 10px;
}

.rightoffset {
    margin-right: 10px;
}

.marginbottom10{
    margin-bottom: 10px;
}

.marginright10{
    margin-right: 10px;
}

.nonvisible {
    display: none !important;
}

.username{
    color : #6a0078;
    font-size: 21px;
}

a.nondecoration{
    color: initial;
    text-decoration: none;
}

button.emptybutton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

span.errormessage{
    color: rgb(217, 0, 0);
    font-weight: 800;
    
}