.mesage-overlay-menu {
    bottom: 80%;
    left: 80%;
    max-height: 300px;
    min-width: 100px;
} 

@media screen and (max-width: 1000px){
    .mine.mesage-overlay-menu{
        left: -92px;
    }
}