.profile {
    display: flex;
    background-color: #fff;

    border-radius: 10px;
    /* overflow: hidden; */
  }

  .profile:hover{

    background-color: rgb(245, 245, 245);
 }

  .profile img.largeimage{
    width: 240px;
    height: 240px;
  
    border-radius: 5%;
    margin-right: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .profile img.smallimage{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-right: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .smallinfo{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .info{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    
  }

  .info h2 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
  }
  
  .bio {
   
    margin-bottom: 20px;
    line-height: 1.5;
    color: #666;
    flex:content;
   
  }
  
  .interests {
    display: flex;
    
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    row-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .interests li {
    font-size: 14px;
    background-color: #f2f2f2;
    color: #333;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .interests li:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.127);
  }
  


  .actions {
    display: flex;
    column-gap: 10px;
  }
  
  .approve,
  .decline {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .approve {
    background-color: #007bff;
    color: #fff;
  }
  
  .approve:hover {
    background-color: #0056b3;
  }
  
  .decline {
    background-color: #dc3545;
    color: #fff;
  }
  
  .decline:hover {
    background-color: #9e2a34;
  }

  .horizontallayout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    align-items: baseline;
}

.columncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columncontainer h2{
  margin-bottom: 5px;
  margin-top: 0px;
}