.chatitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: medium;
    font-size: x-large;
}
.chatitem:hover{
    background-color: #d4d4d4;
}

@media screen and (min-width: 1000px) {
    .chatitem#active{
        background-color: var(--active-chat-color);
    }
    
    .chatitem:hover:not(#active){
        background-color: #d4d4d4;
    }
    
    .chatitem#active .chattop .chatdate{
        color: white;
    }
    
    .chatitem#active .chatbottom .lastmessage{
        color: white;
    }
}


.chaticon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 0.5rem;
} 
.chaticon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.chatinfo{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.chatinfo .chattop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chatinfo .chattop .chattitle{
    font-weight: 600;
}



.chatinfo .chattop .chatdate{
    font-size: 0.8em;
    color: #8e8e8e;
}

.chatinfo .chatbottom{
    display: flex;
}

.chatbottom .sendername{
    font-weight: 600;
    margin-right: 0.2rem;
}

.chatbottom .lastmessage{
    font-size: 0.9em;
    color: #8e8e8e;
    margin-top: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

